@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Generic To Do App</h4>
        <a asp-action="Index" asp-controller="ToDoTasks">Add stuff to your to-do list.</a>
    </div>
</div>